<div class="carousel">
  <app-slider #slider>
    <!-- <app-slider-item style="flex: 0 0 100px">
      <div class="img">1</div>
    </app-slider-item>
    <app-slider-item style="flex: 0 0 200px">
      <div class="img">2</div>
    </app-slider-item>
    <app-slider-item style="flex: 0 0 300px">
      <div class="img">3</div>
    </app-slider-item>
    <app-slider-item style="flex: 0 0 400px">
      <div class="img">4</div>
    </app-slider-item>
    <app-slider-item style="flex: 0 0 500px">
      <div class="img">5</div>
    </app-slider-item>
    <app-slider-item style="flex: 0 0 600px">
      <div class="img">6</div>
    </app-slider-item>
    <app-slider-item style="flex: 0 0 500px">
      <div class="img">7</div>
    </app-slider-item>
    <app-slider-item style="flex: 0 0 400px">
      <div class="img">8</div>
    </app-slider-item>
    <app-slider-item style="flex: 0 0 300px">
      <div class="img">9</div>
    </app-slider-item>
    <app-slider-item style="flex: 0 0 200px">
      <div class="img">10</div>
    </app-slider-item>  -->
    <app-slider-item>
      <div class="img">1</div>
    </app-slider-item>
    <app-slider-item>
      <div class="img">2</div>
    </app-slider-item>
    <app-slider-item>
      <div class="img">3</div>
    </app-slider-item>
    <!-- <app-slider-item>
      <div class="img">4</div>
    </app-slider-item>
    <app-slider-item>
      <div class="img">5</div>
    </app-slider-item>
    <app-slider-item>
      <div class="img">6</div>
    </app-slider-item> -->
  </app-slider>
  <button [disabled]="slider.canNoLeft" (click)="slider.goBySlide('left')">left</button>
  <button [disabled]="slider.canNoRight" (click)="slider.goBySlide('right')">right</button>

  <div class="dotContainer">
    <div *ngFor="let dot of slider.totalSlide$ | async | sArrayRange; let index = index" (click)="slider.goBySlide(index)" class="dotItem">{{ index }}</div>
  </div>
</div>

<router-outlet></router-outlet>
